@model Case_Study.Models.UpdateExercise

@{
    ViewData["Title"] = "Edit Exercise";
}

<h1 id="heading">Edit @Model.ExerciseName</h1>
<hr />
<div class="row text-light">
    <div class="col-md-4">
        <form asp-action="SaveExerciseChanges">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="exerciseId" class="form-control" type="hidden" value="@Model.exerciseId"/>
                <span asp-validation-for="exerciseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="ExerciseName" class="form-control" type="hidden" value="@Model.ExerciseName"/>
                <span asp-validation-for="ExerciseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Repetitions" class="control-label"></label>
                <input asp-for="Repetitions" class="form-control" />
                <span asp-validation-for="Repetitions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label"></label>
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sets" class="control-label"></label>
                <input asp-for="Sets" class="form-control" />
                <span asp-validation-for="Sets" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary my-3" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ExerciseList">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
